* {
    margin: 0px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
}


.blue_box {
    background-color: #0047BA;
    height: 120px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    color: white;
}

.blue_box_a {
    color: white;
    display: inline-block;
    margin-top: 55px;
    margin-left: 18px;
}

.blue_box_a:hover {
    color: #8eaddf;
}

.lang {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-top: 10px;
    padding-right: 140px;
}

.lang_share {
    border: 2px solid #8eaddf;
    border-radius: 20px;
    padding: 3px;
    font-size: 13px;
}

.lang_share_i {
    border: 2px solid #8eaddf;
    border-radius: 20px;
    padding: 2px;
    font-size: 15px;
}

.water-bg {
    background-image: url(/Gemini_Generated_Image_qu4m4gqu4m4gqu4m.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100vw;
    display: flex;
}

.bottles {
    position: absolute;
    top: 85px;
    display: block;

}

.grid_box {
    font-size: small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    padding-left: 250px;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #0047BA;
    line-height: 25px;
    align-content: start;
}

.gbox_items,
.gbox_items:visited,
.gbox_items:active,
.gbox_items:focus {
    color: #0047BA;

}

.gbox_items:hover {
    color: lightskyblue;
}

.box1 {
    color: #0047BA;
    margin: 0;
}

.box2 {
    color: #0047BA;
    margin: 0;
}

.box3 {

    color: #0047BA;
    margin: 0;
}

.box4 {
    padding-left: 85px;
    margin: 0;
}

.social {
    height: 28px;
    width: 28px;
    margin: 0;

}

.btn1 {
    background: transparent;
    position: absolute;
    top: 68vh;
    left: 870px;
    border-radius: 5px;
    border-color: #0047BA;
    border-style: solid;
    font-size: 13px;
    color: #0047BA;
    height: 45px;
    width: 190px;

}

.btn2 {
    background: transparent;
    position: absolute;
    top: 68vh;
    left: 1070px;
    border-radius: 5px;
    border-color: #0047BA;
    border-style: solid;
    font-size: 13px;
    color: #0047BA;
    height: 45px;
    width: 190px;
}

.btn1:hover,
.btn2:hover {
    background-color: #0047BA;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #8eaddf;
}

.final_div {
    background-color: white;
    height: 60px;
    border-top: dotted;
    border-color: rgb(210, 209, 209);
    border-width: 2px;
    color: #0047BA;
    text-align: center;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.cookie {
    font-family: sans-serif;
    font-size: 17px;
    color: blue;
    text-decoration: underline;
    display: flex;
    position: fixed;
    margin-top: 80vh;
    margin-left: 1vw;
}